[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
opencv-python = "==3.4.1.15"
matplotlib = "*"
keras = "==2.2.5"
tensorflow = "==1.14"

[requires]
python_version = "3.5"
